max_dp_table_size	10000
max_edit_distance	10
max_intron_contamination_coverage	5.56
max_num_exons	1000
min_bundle_gap	778
min_exon_length	26
min_flank_length	2
min_mapping_quality	11
min_num_hits_in_bundle	25
min_router_count	1
min_splice_boundary_hits	2
min_subregion_gap	0
min_subregion_length	0
min_subregion_overlap	1.5
min_transcript_length_base	360
min_transcript_length_increase	8
uniquely_mapped_only	0
use_second_alignment	0
min_transcript_coverage	0
