max_dp_table_size	10000
max_edit_distance	10
max_intron_contamination_coverage	2
max_num_exons	800
min_bundle_gap	1574
min_exon_length	17
min_flank_length	4
min_mapping_quality	2
min_num_hits_in_bundle	20
min_router_count	1
min_splice_boundary_hits	1
min_subregion_gap	8
min_subregion_length	18
min_subregion_overlap	1.5
min_transcript_length_base	307
min_transcript_length_increase	4
uniquely_mapped_only	0
use_second_alignment	0
min_transcript_coverage	0
